In [10]:
import pandas as pd
import numpy as np
import time
state = {}

In [11]:
def load_sample_data():
    start = time.time()
    with open("sample_data_file.xlsx", "rb") as f:
        data_sample = f.read()
        state["sample_data"] = data_sample
    with open("instructions.txt", "r") as f:
        data_instr = f.read()
        state["instructions"] = data_instr
    state["instructions_loaded"] = True
    print(f"Loaded Sample Data: {time.time() - start}s")

In [12]:
def use_sample_data():
    print("Trigger load sample dataset")
    state["selected_file"] = state["sample_data"]
    state["selected_file_name"] = "Sample Data File"
    state["page_state"] = 1

In [18]:
def read_excel_file(uploaded_file):
    raw_data = pd.read_excel(uploaded_file, sheet_name=None, header=None, dtype=str)

    processed_data = {}

    sheet_names = raw_data.keys()

    for i, sheet in enumerate(sheet_names):
        df_sheet = raw_data[sheet][:]
        df_info, df_measurements = split_sheet(df_sheet)

        processed_data[sheet] = {
            "info": df_info,
            "measurements": df_measurements,
            "max_current": df_measurements["current"].max(),
            "max_normed_current": df_measurements["normed_current"].max(),
            "max_frequency": df_measurements["frequency"].max()
        }

    state["processed_data"] = processed_data

In [19]:
def split_sheet(df):
    # NOTE: Using pd.isnull() instead of np.isna(), as the latter cannot
    # handle strings.

    # DIVIDING ROW
    # Take the first row that has an empty value in the first column
    empty_row = df[df[0].isnull()].index.tolist()[0]
    
    # VALID CELLS
    # Take each pair of columns that has a value in the pair-left column in the first data row
    # (so the first row after the Dividing Row)
    valid_cells = []
    for i in range(1, df.shape[1], 2):
        if pd.notnull(df.loc[empty_row+1, i]) \
        and pd.notnull(df.loc[empty_row+1+1, i]) \
        and pd.notnull(df.loc[empty_row+1+1, i+1]):
            valid_cells.append(i)
    
    # CELL INFORMATION
    # The top section of the sheet contains the cell information
    df_info = df.iloc[0:empty_row]
    df_info.index = df_info[0]
    df_info = df_info.drop(columns=0)
    df_info = df_info[valid_cells].transpose()
    df_identity = df_info[df_info.columns[0:1]]
    df_sort = df_info[df_info.columns[1:]].astype(float)
    df_info = df_identity.join(df_sort)
    # NOTE: Don't need to convert the Date, as it is only used as an identifier?
    # df_info["Date"] = pd.to_datetime(df_info["Date"]).dt.strftime("%m-%d")
    
    # CELL MEASUREMENTS
    # The bottom section of the sheet contains the cell measurements
    df_bottom = df.iloc[empty_row+1:].reset_index(drop=True)
    df_bottom = df_bottom.astype(float)
    df_measurements = pd.DataFrame()
    for i in valid_cells:
        df_temp = df_bottom.loc[:, i:i+1]
        df_temp.columns = ["current", "frequency"]
        df_temp = df_temp.drop(index=df_temp.index[df_temp["current"].isna()])
        df_temp.insert(0, "cell", i)
        df_temp["normed_current"] = df_temp["current"] - df_temp["current"][0]
        df_temp = df_temp.drop(index=0)
        df_measurements = pd.concat([df_measurements, df_temp])
    
    return df_info, df_measurements

In [30]:
def bin_cells(df_measurements, norm, max_current, num_bins):
    if norm:
        col_name = "normed_current"
    else:
        col_name = "current"
        
    if max_current == None:
        max_current = sf_ceil(df_measurements[col_name].max(), 2)
        
    bins = np.histogram_bin_edges([], bins=num_bins, range=(0, max_current))
    df_binned = pd.DataFrame(columns=list(range(1, num_bins+2)))
    
    for cell_no, group in df_measurements.groupby("cell"):
        group["bin"] = np.digitize(group[col_name], bins)
        binned_data = {}
        for bin_num, g in group.groupby("bin"):
            binned_data[bin_num] = [g["frequency"].mean()]

        current_cell = pd.DataFrame(binned_data)
        current_cell.index=[cell_no]

        df_binned = pd.concat([df_binned, current_cell])

    df_binned = df_binned.astype(float).interpolate(method="slinear", axis=1)
    df_binned.columns = bins
    
    return df_binned

In [13]:
load_sample_data()

Loaded Sample Data: 0.021137714385986328s

In [14]:
use_sample_data()

Trigger load sample dataset

In [21]:
state.keys()

dict_keys(['sample_data', 'instructions', 'instructions_loaded', 'selected_file', 'selected_file_name', 'page_state', 'processed_data'])

In [20]:
read_excel_file(state["selected_file"])

In [31]:
state["processed_data"].keys()

dict_keys(['CART BL', 'CART Post', 'Musc BL', 'Musc Post'])

In [28]:
state["processed_data"]["CART BL"]["info"]

0                  Date  Cell No     Rin        Rheo  Type
1   2014-03-01 00:00:00      5.0   28.20  408.259980   1.0
3   2022-03-01 00:00:00      3.0   64.30   65.799995   2.0
5   2025-03-01 00:00:00      3.0   40.16  267.799995   1.0
7            15.04.2019      1.0   41.20  557.580000   2.0
9   2022-04-01 00:00:00      1.0   46.30  149.870002   2.0
11  2022-04-01 00:00:00      3.0   23.80  543.659980   1.0
13  2015-05-01 00:00:00      2.0   24.10  889.000020   1.0
15  2015-05-01 00:00:00      3.0   21.06  429.390010   1.0
17  2016-05-01 00:00:00      2.0   23.80  642.559980   2.0
19  2016-05-01 00:00:00      3.0   34.10  662.040010   1.0
21  2002-10-01 00:00:00      3.0   33.20  348.540010   1.0
23  2022-01-01 00:00:00      1.0   37.01  368.894990   1.0
25  2022-01-01 00:00:00      2.0   42.90  225.285005   2.0
27  2022-01-01 00:00:00      3.0   12.50  665.984980   1.0
29  2023-01-01 00:00:00      1.0   12.90  498.609980   1.0
31  2023-01-01 00:00:00      2.0   13.40  535.765010   1.0
33  2027-01-01 00:00:00      1.0   72.50   97.510005   2.0
35  2027-01-01 00:00:00      2.0   25.10  253.560005   2.0
37  2027-01-01 00:00:00      3.0   23.86  812.645039   2.0
39  2029-01-01 00:00:00      1.0   54.40  291.530000   2.0
41  2029-01-01 00:00:00      2.0   18.12  537.805000   1.0
43  2005-02-01 00:00:00      1.0   12.14  736.590010   1.0
45  2005-02-01 00:00:00      2.0   40.00  362.405000   1.0
47  2020-02-10 00:00:00      1.0   36.90  369.275020   1.0
49  2020-02-10 00:00:00      2.0   55.60   91.060005   2.0
51  2020-02-13 00:00:00      1.0   32.90  471.875020   1.0
53  2020-02-13 00:00:00      2.0   61.30  117.899995   2.0
55  2020-02-13 00:00:00      3.0   58.01   88.049995   2.0
57  2020-02-14 00:00:00      1.0  326.00   23.420002   2.0
59  2020-02-14 00:00:00      2.0   15.14  568.775020   1.0
61  2020-02-14 00:00:00      3.0   20.80  266.030000   2.0
63  2020-02-19 00:00:00      1.0   28.60  315.885005   1.0
65  2020-02-19 00:00:00      2.0   67.29   55.810005   2.0
67  2020-02-20 00:00:00      1.0   37.90  358.655000   1.0
69  2020-02-20 00:00:00      2.0   52.00   64.830000   2.0
71  2020-02-20 00:00:00      3.0    8.24  932.839961   1.0
73  2020-02-20 00:00:00      4.0   21.70  723.934980   1.0

In [34]:
state["processed_data"]["CART Post"]["info"]

0                  Date  Cell No     Rin        Rheo  Type
1   2014-03-01 00:00:00      5.0   28.20  373.419990   1.0
3   2022-03-01 00:00:00      3.0   64.30   44.800001   2.0
5   2025-03-01 00:00:00      3.0   40.16  331.499995   1.0
7            15.04.2019      1.0   41.20  439.530000   2.0
9   2022-04-01 00:00:00      1.0   46.30  155.430000   2.0
11  2022-04-01 00:00:00      3.0   23.80  450.530000   1.0
13  2015-05-01 00:00:00      2.0   24.10  692.790010   1.0
15  2015-05-01 00:00:00      3.0   21.06  411.269990   1.0
17  2016-05-01 00:00:00      2.0   23.80  634.830000   2.0
19  2016-05-01 00:00:00      3.0   34.10  569.640010   1.0
21  2002-10-01 00:00:00      3.0   33.20  338.169990   1.0
23  2022-01-01 00:00:00      1.0   37.01  410.225020   1.0
25  2022-01-01 00:00:00      2.0   42.90  212.790010   2.0
27  2022-01-01 00:00:00      3.0   12.50  759.015010   1.0
29  2023-01-01 00:00:00      1.0   12.90  550.650020   1.0
31  2023-01-01 00:00:00      2.0   13.40  516.694990   1.0
35  2027-01-01 00:00:00      2.0   25.10  445.259980   2.0
37  2027-01-01 00:00:00      3.0   23.86  702.769990   2.0
39  2029-01-01 00:00:00      1.0   54.40  430.694990   2.0
41  2029-01-01 00:00:00      2.0   18.12  520.875020   1.0
43  2005-02-01 00:00:00      1.0   12.14  564.175020   1.0
45  2005-02-01 00:00:00      2.0   40.00  480.909980   1.0
47  2020-02-10 00:00:00      1.0   36.90  400.765010   1.0
49  2020-02-10 00:00:00      2.0   55.60  484.330000   2.0
51  2020-02-13 00:00:00      1.0   32.90  416.044990   1.0
53  2020-02-13 00:00:00      2.0   61.30   79.820002   2.0
55  2020-02-13 00:00:00      3.0   58.01   68.880000   2.0
57  2020-02-14 00:00:00      1.0  326.00   30.559999   2.0
59  2020-02-14 00:00:00      2.0   15.14  468.065010   1.0
61  2020-02-14 00:00:00      3.0   20.80  310.335005   2.0
63  2020-02-19 00:00:00      1.0   28.60  160.580000   1.0
65  2020-02-19 00:00:00      2.0   67.29   58.360005   2.0
67  2020-02-20 00:00:00      1.0   37.90  317.935005   1.0
69  2020-02-20 00:00:00      2.0   52.00   88.770002   2.0
71  2020-02-20 00:00:00      3.0    8.24  299.405000   1.0
73  2020-02-20 00:00:00      4.0   21.70  676.405000   1.0

In [29]:
state["processed_data"]["CART BL"]["measurements"]

     cell      current  frequency  normed_current
1       1   422.909980   6.821282       14.650000
2       1   438.450020   6.439150       30.190039
3       1   451.900020   7.429420       43.640039
4       1   462.780000   9.199632       54.520020
5       1   472.700020  10.080646       64.440039
..    ...          ...        ...             ...
585    73  2556.010078  37.523453     1832.075098
586    73  2558.564961  39.138943     1834.629980
587    73  2561.180000  38.095238     1837.245020
588    73  2563.999922  35.587189     1840.064941
589    73  2566.685078  37.383179     1842.750098

[16753 rows x 4 columns]

In [41]:
dfi1 = state["processed_data"]["CART BL"]["info"].reset_index()
dfi2 = state["processed_data"]["CART Post"]["info"].reset_index()
dfi = dfi1.merge(dfi2, how="inner", on=["Date", "Cell No"], suffixes=("CART BL", "CART Post"))
dfi

,indexCART BL,Date,Cell No,RinCART BL,RheoCART BL,TypeCART BL,indexCART Post,RinCART Post,RheoCART Post,TypeCART Post
0,1,2014-03-01 00:00:00,5.0,28.20,408.259980,1.0,1,28.20,373.419990,1.0
1,3,2022-03-01 00:00:00,3.0,64.30,65.799995,2.0,3,64.30,44.800001,2.0
2,5,2025-03-01 00:00:00,3.0,40.16,267.799995,1.0,5,40.16,331.499995,1.0
3,7,15.04.2019,1.0,41.20,557.580000,2.0,7,41.20,439.530000,2.0
4,9,2022-04-01 00:00:00,1.0,46.30,149.870002,2.0,9,46.30,155.430000,2.0
5,11,2022-04-01 00:00:00,3.0,23.80,543.659980,1.0,11,23.80,450.530000,1.0
6,13,2015-05-01 00:00:00,2.0,24.10,889.000020,1.0,13,24.10,692.790010,1.0
7,15,2015-05-01 00:00:00,3.0,21.06,429.390010,1.0,15,21.06,411.269990,1.0
8,17,2016-05-01 00:00:00,2.0,23.80,642.559980,2.0,17,23.80,634.830000,2.0
9,19,2016-05-01 00:00:00,3.0,34.10,662.040010,1.0,19,34.10,569.640010,1.0
10,21,2002-10-01 00:00:00,3.0,33.20,348.540010,1.0,21,33.20,338.169990,1.0
11,23,2022-01-01 00:00:00,1.0,37.01,368.894990,1.0,23,37.01,410.225020,1.0
12,25,2022-01-01 00:00:00,2.0,42.90,225.285005,2.0,25,42.90,212.790010,2.0
13,27,2022-01-01 00:00:00,3.0,12.50,665.984980,1.0,27,12.50,759.015010,1.0
14,29,2023-01-01 00:00:00,1.0,12.90,498.609980,1.0,29,12.90,550.650020,1.0
15,31,2023-01-01 00:00:00,2.0,13.40,535.765010,1.0,31,13.40,516.694990,1.0
16,35,2027-01-01 00:00:00,2.0,25.10,253.560005,2.0,35,25.10,445.259980,2.0
17,37,2027-01-01 00:00:00,3.0,23.86,812.645039,2.0,37,23.86,702.769990,2.0
18,39,2029-01-01 00:00:00,1.0,54.40,291.530000,2.0,39,54.40,430.694990,2.0
19,41,2029-01-01 00:00:00,2.0,18.12,537.805000,1.0,41,18.12,520.875020,1.0
20,43,2005-02-01 00:00:00,1.0,12.14,736.590010,1.0,43,12.14,564.175020,1.0
21,45,2005-02-01 00:00:00,2.0,40.00,362.405000,1.0,45,40.00,480.909980,1.0
22,47,2020-02-10 00:00:00,1.0,36.90,369.275020,1.0,47,36.90,400.765010,1.0
23,49,2020-02-10 00:00:00,2.0,55.60,91.060005,2.0,49,55.60,484.330000,2.0
24,51,2020-02-13 00:00:00,1.0,32.90,471.875020,1.0,51,32.90,416.044990,1.0
25,53,2020-02-13 00:00:00,2.0,61.30,117.899995,2.0,53,61.30,79.820002,2.0
26,55,2020-02-13 00:00:00,3.0,58.01,88.049995,2.0,55,58.01,68.880000,2.0
27,57,2020-02-14 00:00:00,1.0,326.00,23.420002,2.0,57,326.00,30.559999,2.0
28,59,2020-02-14 00:00:00,2.0,15.14,568.775020,1.0,59,15.14,468.065010,1.0
29,61,2020-02-14 00:00:00,3.0,20.80,266.030000,2.0,61,20.80,310.335005,2.0
30,63,2020-02-19 00:00:00,1.0,28.60,315.885005,1.0,63,28.60,160.580000,1.0
31,65,2020-02-19 00:00:00,2.0,67.29,55.810005,2.0,65,67.29,58.360005,2.0
32,67,2020-02-20 00:00:00,1.0,37.90,358.655000,1.0,67,37.90,317.935005,1.0
33,69,2020-02-20 00:00:00,2.0,52.00,64.830000,2.0,69,52.00,88.770002,2.0
34,71,2020-02-20 00:00:00,3.0,8.24,932.839961,1.0,71,8.24,299.405000,1.0
35,73,2020-02-20 00:00:00,4.0,21.70,723.934980,1.0,73,21.70,676.405000,1.0

In [35]:
dfi1

0                  Date  Cell No     Rin        Rheo  Type
1   2014-03-01 00:00:00      5.0   28.20  408.259980   1.0
3   2022-03-01 00:00:00      3.0   64.30   65.799995   2.0
5   2025-03-01 00:00:00      3.0   40.16  267.799995   1.0
7            15.04.2019      1.0   41.20  557.580000   2.0
9   2022-04-01 00:00:00      1.0   46.30  149.870002   2.0
11  2022-04-01 00:00:00      3.0   23.80  543.659980   1.0
13  2015-05-01 00:00:00      2.0   24.10  889.000020   1.0
15  2015-05-01 00:00:00      3.0   21.06  429.390010   1.0
17  2016-05-01 00:00:00      2.0   23.80  642.559980   2.0
19  2016-05-01 00:00:00      3.0   34.10  662.040010   1.0
21  2002-10-01 00:00:00      3.0   33.20  348.540010   1.0
23  2022-01-01 00:00:00      1.0   37.01  368.894990   1.0
25  2022-01-01 00:00:00      2.0   42.90  225.285005   2.0
27  2022-01-01 00:00:00      3.0   12.50  665.984980   1.0
29  2023-01-01 00:00:00      1.0   12.90  498.609980   1.0
31  2023-01-01 00:00:00      2.0   13.40  535.765010   1.0
33  2027-01-01 00:00:00      1.0   72.50   97.510005   2.0
35  2027-01-01 00:00:00      2.0   25.10  253.560005   2.0
37  2027-01-01 00:00:00      3.0   23.86  812.645039   2.0
39  2029-01-01 00:00:00      1.0   54.40  291.530000   2.0
41  2029-01-01 00:00:00      2.0   18.12  537.805000   1.0
43  2005-02-01 00:00:00      1.0   12.14  736.590010   1.0
45  2005-02-01 00:00:00      2.0   40.00  362.405000   1.0
47  2020-02-10 00:00:00      1.0   36.90  369.275020   1.0
49  2020-02-10 00:00:00      2.0   55.60   91.060005   2.0
51  2020-02-13 00:00:00      1.0   32.90  471.875020   1.0
53  2020-02-13 00:00:00      2.0   61.30  117.899995   2.0
55  2020-02-13 00:00:00      3.0   58.01   88.049995   2.0
57  2020-02-14 00:00:00      1.0  326.00   23.420002   2.0
59  2020-02-14 00:00:00      2.0   15.14  568.775020   1.0
61  2020-02-14 00:00:00      3.0   20.80  266.030000   2.0
63  2020-02-19 00:00:00      1.0   28.60  315.885005   1.0
65  2020-02-19 00:00:00      2.0   67.29   55.810005   2.0
67  2020-02-20 00:00:00      1.0   37.90  358.655000   1.0
69  2020-02-20 00:00:00      2.0   52.00   64.830000   2.0
71  2020-02-20 00:00:00      3.0    8.24  932.839961   1.0
73  2020-02-20 00:00:00      4.0   21.70  723.934980   1.0

In [36]:
dfi2

0                  Date  Cell No     Rin        Rheo  Type
1   2014-03-01 00:00:00      5.0   28.20  373.419990   1.0
3   2022-03-01 00:00:00      3.0   64.30   44.800001   2.0
5   2025-03-01 00:00:00      3.0   40.16  331.499995   1.0
7            15.04.2019      1.0   41.20  439.530000   2.0
9   2022-04-01 00:00:00      1.0   46.30  155.430000   2.0
11  2022-04-01 00:00:00      3.0   23.80  450.530000   1.0
13  2015-05-01 00:00:00      2.0   24.10  692.790010   1.0
15  2015-05-01 00:00:00      3.0   21.06  411.269990   1.0
17  2016-05-01 00:00:00      2.0   23.80  634.830000   2.0
19  2016-05-01 00:00:00      3.0   34.10  569.640010   1.0
21  2002-10-01 00:00:00      3.0   33.20  338.169990   1.0
23  2022-01-01 00:00:00      1.0   37.01  410.225020   1.0
25  2022-01-01 00:00:00      2.0   42.90  212.790010   2.0
27  2022-01-01 00:00:00      3.0   12.50  759.015010   1.0
29  2023-01-01 00:00:00      1.0   12.90  550.650020   1.0
31  2023-01-01 00:00:00      2.0   13.40  516.694990   1.0
35  2027-01-01 00:00:00      2.0   25.10  445.259980   2.0
37  2027-01-01 00:00:00      3.0   23.86  702.769990   2.0
39  2029-01-01 00:00:00      1.0   54.40  430.694990   2.0
41  2029-01-01 00:00:00      2.0   18.12  520.875020   1.0
43  2005-02-01 00:00:00      1.0   12.14  564.175020   1.0
45  2005-02-01 00:00:00      2.0   40.00  480.909980   1.0
47  2020-02-10 00:00:00      1.0   36.90  400.765010   1.0
49  2020-02-10 00:00:00      2.0   55.60  484.330000   2.0
51  2020-02-13 00:00:00      1.0   32.90  416.044990   1.0
53  2020-02-13 00:00:00      2.0   61.30   79.820002   2.0
55  2020-02-13 00:00:00      3.0   58.01   68.880000   2.0
57  2020-02-14 00:00:00      1.0  326.00   30.559999   2.0
59  2020-02-14 00:00:00      2.0   15.14  468.065010   1.0
61  2020-02-14 00:00:00      3.0   20.80  310.335005   2.0
63  2020-02-19 00:00:00      1.0   28.60  160.580000   1.0
65  2020-02-19 00:00:00      2.0   67.29   58.360005   2.0
67  2020-02-20 00:00:00      1.0   37.90  317.935005   1.0
69  2020-02-20 00:00:00      2.0   52.00   88.770002   2.0
71  2020-02-20 00:00:00      3.0    8.24  299.405000   1.0
73  2020-02-20 00:00:00      4.0   21.70  676.405000   1.0